.masthead {
  justify-content: center;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: #1c4655;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  .text-center {
    color: $gray-200;
    position: relative;
    height: 21em;
    padding: 0 0 0 0;
    border-radius: 10px;
  }
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  h3 {
    padding: 0 10px;
  }
  .masthead-text-backdrop {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}

.masthead-image {
  top: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  background-image: url("/img/masthead2.jpg");
  background-position: center;
  background-size: 1930px auto;
  object-fit: cover;
}

.masthead-text-backdrop {
  margin: 0 0 0 0;
  border-radius: 10px;
  top: 0.15rem;
  background-color: scale_color($gray-600, $alpha: -25%);
  position: relative;
  z-index: 3;
  width: 100%;
  height: 23rem;
  max-width: 100%;
  background-image: url("/img/masthead2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1930px auto;
  filter: blur(2px) brightness(85%);
  box-shadow:
    0 4px 8px 2px rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mastead-text-container {
  z-index: 10;
  position: relative;
  top: -20em;
  width: 100%;
  height: auto;
}
