.resume-bg-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume-header>*:not(:first-child), .resume-main>section>*:not(:first-child) {
  padding-left: 5%;
}

.resume-div {
  position: sticky;
  overflow: auto;
  height: 100%;
  margin: 0 0 0 20%;
  padding: 5rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  section>h3 {
    color: $secondary;
  }
  @media screen and (max-width: $break-small) {
    margin: 0 0 0 8%;
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

.resume-main {
  padding: 0 10% 5rem 0;
  @media screen and (max-width: $break-small) {
    padding: 0 1rem 5rem 0;
  }
}

.resume-ul {
  list-style: none;
  display: flex;
  li {
    color: $white;
  }
}

.resume-major-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    margin: 5px 0;
  }
}

.resume-contact-list {
  flex-direction: column;
  justify-content: space-around;
  margin: 0 8rem 0 0;
  padding: 0 0 0 0;
  li>a {
    color: $secondary;
  }
  @media screen and (max-width: $break-small) {
    margin: 0 2rem 0 0;
  }
}

.resume-skill-list {
  flex-wrap: wrap;
  li {
    padding: 0 0 0 0.25em;
  }
  li:not(:last-of-type):after {
    content: ",";
  }
  li:last-of-type:before {
    content: " and "
  }
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  h4 {
    flex-grow: 1;
  }
  @media screen and (max-width: $break-small) {
    .project-links {
      font-size: 1.5rem;
      .project-link-divider, .resume-project-link {
        display: none;
      }
    }
  }
}

.project-link-divider {
  margin: 0 0.3rem;
  font-size: 14px;
}

.resume-link {
  color: $secondary;
}

.resume-git-link {
  margin-right: 0.5rem;
}
