// Variables
$fa-font-path: "../webfonts";

$white: #fff !default;
$gray-100: #dbdbdb !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #4c4c4c !default;

//$primary: #636363 !default;
$primary: #525252 !default;
//$secondary: #85c7f2 !default;
//$secondary: #8E9EF4 !default;
//$secondary: #b76d68 !default;
$secondary: #E2BDBB !default;

$break-small: 600px;
$break-large: 1200px;

